[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nba-api = "*"
joblib = "*"
streamlit = "*"
scikit-learn = "*"
matplotlib = "*"
numpy = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"
